.custom-navbar {
    background-color: #495057;
  }

  .container-for-cards {
    padding-top: 30px; 
  }

  .link {
    text-decoration: none; 
    color: white;        
    margin-right: 10px;     
  }

  .custom-navbar .navbar-brand {
    color: white;    
    font-weight: bold; 
  }

  .custom-navbar .navbar-brand:hover {
    color: white;
    font-weight: bold;
    animation: bounce 1.2s ease infinite;
    -webkit-animation: bounce 1.2s ease infinite;
}
  
  .custom-navbar .nav-link {
    color: white;     
    font-weight: bold; 
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
  }


